# Cross Validation in python

Surendra Prajapat

Importing the Dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

Importing the models

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [4]:
# Dataset link : https://bit.ly/3H2SQWj
heart_data = pd.read_csv("/content/heart.csv")

In [5]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
heart_data.shape

(303, 14)

In [9]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [10]:
x = heart_data.drop(columns='target', axis=1)
y = heart_data['target']

In [11]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

# **Train Test Split**

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=3)

In [17]:
print(x.shape, x_train.shape, x_test.shape)

(303, 13) (242, 13) (61, 13)

Comparing the perfomance of the models

In [27]:
# list of models
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [28]:
def compare_models_train_test(models):
  for model in models:

    model.fit(x_train, y_train)
    test_data_prediction = model.predict(x_test)
    accuracy = accuracy_score(y_test, test_data_prediction)
    print('Accuracy score of the', model, ' = ', accuracy)

In [29]:
compare_models_train_test(models)

Accuracy score of the LogisticRegression(max_iter=1000)  =  0.7704918032786885
Accuracy score of the SVC(kernel='linear')  =  0.7704918032786885
Accuracy score of the KNeighborsClassifier()  =  0.6557377049180327
Accuracy score of the RandomForestClassifier()  =  0.8032786885245902

# **Cross Validation**

Logistic Regression

In [37]:
cv_score_lr = cross_val_score(LogisticRegression(max_iter = 1000), x, y, cv=5) # cv=5 use iteration 5 is default
print(cv_score_lr)
print(round(np.mean(cv_score_lr) * 100, 2))

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
82.83

Support Vector Classifier

In [38]:
cv_score_SVC = cross_val_score(SVC(kernel='linear'), x, y, cv=5) # cv=5 use iteration 5 is default
print(cv_score_SVC)
print(round(np.mean(cv_score_SVC) * 100, 2))

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
82.83

KNeighbours Classifier

In [39]:
cv_score_K = cross_val_score(KNeighborsClassifier(), x, y, cv=5) # cv=5 use iteration 5 is default
print(cv_score_K)
print(round(np.mean(cv_score_K) * 100, 2))

[0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
64.39

Creating the finction to compare all models

In [41]:
# list of models
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [47]:
def compare_models_cross_validation():

  for model in models:
    
    cv_score = cross_val_score(model, x, y, cv=5)
    mean_accuracy = round(np.mean(cv_score) * 100, 2)
    print("Cross Validation accuracies for the", model, '=', cv_score)
    print('Accuracy % of the', model, mean_accuracy)
    print("---------------------------------------------")

In [48]:
compare_models_cross_validation()

Cross Validation accuracies for the LogisticRegression(max_iter=1000) = [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Accuracy % of the LogisticRegression(max_iter=1000) 82.83
---------------------------------------------
Cross Validation accuracies for the SVC(kernel='linear') = [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Accuracy % of the SVC(kernel='linear') 82.83
---------------------------------------------
Cross Validation accuracies for the KNeighborsClassifier() = [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Accuracy % of the KNeighborsClassifier() 64.39
---------------------------------------------
Cross Validation accuracies for the RandomForestClassifier() = [0.78688525 0.8852459  0.7704918  0.76666667 0.75      ]
Accuracy % of the RandomForestClassifier() 79.19
---------------------------------------------