# Project 11. Credit Card Fraud Detection using Machine Learning in Python

Surendra Prajapat

In [92]:
# Import required librery
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [93]:
# DataSet Link : https://bit.ly/3J7G3of
credit_card_data = pd.read_csv("/content/creditcard.csv")

In [94]:
# first five row
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [95]:
# last five row
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [96]:
credit_card_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [97]:
# null value present or not in dataset
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [98]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [99]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [100]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [101]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [102]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [103]:
# compare the values for both transcation
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under Sampling

Build a sample dataset containing similar distribution of normal transaction and Fraudulent Transaction

Number of Fraudulent Transactions == 492

In [104]:
legit_sample = legit.sample(n=492)

Concat two dataset

In [105]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [106]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
208100,136972.0,1.658927,0.689136,-1.163555,4.300544,0.381701,-0.353974,-0.009362,0.037410,-0.592964,...,-0.367837,-1.285141,0.303342,-0.482252,-0.606030,-0.423235,0.020650,0.059174,109.51,0
208209,137015.0,-0.025029,-0.345617,-0.610432,-2.503417,-1.027652,1.085349,1.662186,-0.740468,0.359285,...,-0.212020,-0.006139,0.222861,-1.431802,-2.302128,-1.054889,-0.360702,-0.225332,315.83,0
78747,57682.0,1.114837,-0.278271,1.710821,1.241614,-1.441260,-0.151394,-0.776900,0.084722,1.287963,...,0.068812,0.716531,-0.088147,1.048259,0.510431,0.549589,0.047015,0.029810,7.36,0
117062,74525.0,0.965423,-0.792412,0.719592,0.493993,-1.293798,-0.456804,-0.422659,0.002849,-1.074268,...,-0.401126,-1.107516,0.077568,0.448545,0.056568,-0.666636,0.026745,0.057236,160.24,0
267919,162984.0,1.876835,-0.502853,-0.296673,1.046891,-0.348574,0.708139,-0.880436,0.332611,1.115571,...,0.052152,0.170920,0.113751,-1.222985,-0.281596,-0.702987,0.063659,-0.036733,45.00,0

In [107]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [108]:
new_dataset.shape

(984, 31)

In [109]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93752.250000,0.009129,-0.050860,0.010106,0.052375,-0.009529,0.031008,-0.029023,-0.013218,-0.035169,...,-0.029863,0.020590,-0.012732,-0.037878,0.020075,0.013040,-0.021498,-0.013198,-0.018538,88.057683
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Spliting data into features & Targets

In [110]:
x = new_dataset.drop(columns = 'Class', axis = 1)
y = new_dataset['Class']

In [111]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
208100  136972.0  1.658927  0.689136 -1.163555  4.300544  0.381701 -0.353974
208209  137015.0 -0.025029 -0.345617 -0.610432 -2.503417 -1.027652  1.085349
78747    57682.0  1.114837 -0.278271  1.710821  1.241614 -1.441260 -0.151394
117062   74525.0  0.965423 -0.792412  0.719592  0.493993 -1.293798 -0.456804
267919  162984.0  1.876835 -0.502853 -0.296673  1.046891 -0.348574  0.708139
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
208100 -0.009362  0.037410 -0.592964  ...  0.003651 -0.367837 -1.285141
208209  1.662186 -0.740468  0.359285  ... -0.549208 -0.212020 -0.006139
78747  -0.776900  0.084722  1.287963  ... -0.064616  0.068812  0.716531
117062 -0.422659  0.002849 -1.074268  ... -0.250936 -0.401126 -1.107516
267919 -0.880436  0.332611  1.115571  ... -0.182220  0.052152  0.170920
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
208100  0.303342 -0.482252 -0.606030 -0.423235  0.020650  0.059174  109.51
208209  0.222861 -1.431802 -2.302128 -1.054889 -0.360702 -0.225332  315.83
78747  -0.088147  1.048259  0.510431  0.549589  0.047015  0.029810    7.36
117062  0.077568  0.448545  0.056568 -0.666636  0.026745  0.057236  160.24
267919  0.113751 -1.222985 -0.281596 -0.702987  0.063659 -0.036733   45.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [112]:
print(y)

208100    0
208209    0
78747     0
117062    0
267919    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [113]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [114]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

In [115]:
print(x_train)

            Time         V1        V2         V3        V4         V5  \
100623   67571.0  -0.758469 -0.045410  -0.168438 -1.313275  -1.901763
217459  140898.0  -0.579914  1.142524  -0.722849 -0.375098   0.625102
58719    48516.0   1.181587  0.251616   0.760874  1.197358  -0.709371
24614    33303.0   1.425202 -1.167404   0.192354 -1.549624  -1.212251
197578  132081.0   2.029377 -0.663996  -0.931991 -0.965968  -0.261354
...          ...        ...       ...        ...       ...        ...
211119  138269.0  -0.358703  1.912924  -0.699201  4.352827  -0.187973
99995    67374.0  -1.336121  1.671947   0.994155  0.420318  -0.440923
223618  143456.0  -2.006582  3.676577  -5.463811  7.232058  -1.627859
43061    41353.0 -15.020981  8.075240 -16.298091  5.664820 -11.918153
160621  113500.0   2.055797 -0.326668  -2.752041 -0.842316   2.463072

              V6         V7        V8        V9  ...       V20       V21  \
100623  0.739433   3.071892 -0.483422  0.618203  ... -0.032500  0.042619
217459 -0.579778   1.238312  0.190600 -0.384077  ...  0.063354  0.136216
58719  -1.050276  -0.000056 -0.115690  0.211353  ... -0.190183 -0.262345
24614  -0.103159  -1.095554  0.092772 -1.978752  ... -0.369370 -0.154573
197578 -0.094825  -0.573095 -0.068962  1.418224  ...  0.031530  0.167031
...          ...        ...       ...       ...  ...       ...       ...
211119  0.986655   0.663841  0.616452 -2.490870  ... -0.014946  0.291750
99995  -0.008386  -0.893860 -2.051884 -1.091297  ...  0.378088 -1.135695
223618 -0.996755  -4.299833  2.268867 -3.651067  ...  0.474414  0.713907
43061  -4.246957 -14.716668  9.435084 -6.795398  ... -0.995787  2.525115
160621  3.173856  -0.432126  0.727706  0.608606  ... -0.180370  0.269765

             V22       V23       V24       V25       V26       V27       V28  \
100623  0.397224  0.072229 -0.242276  0.560916 -0.540955  0.150606 -0.117140
217459  0.434259 -0.024324  0.624173  0.013480 -0.240091  0.258570  0.188929
58719  -0.835185  0.191537  0.626589  0.209204 -0.710919  0.022809  0.035581
24614  -0.151385  0.001151 -0.346096  0.306193 -0.166904  0.028112  0.003898
197578  0.609452  0.089650  0.129729 -0.215298  0.709956 -0.039760 -0.043693
...          ...       ...       ...       ...       ...       ...       ...
211119  0.654518 -0.123554 -0.971261  0.234393  0.639715 -0.324001 -0.241161
99995   0.509302  0.074188  0.266186 -0.117614 -0.515392 -0.049653  0.085873
223618 -0.063868  0.167947 -0.449864  0.023702  0.536905  0.485864 -0.042393
43061  -0.832074 -0.186117  0.429781  0.697103  0.056031 -1.310888 -0.707403
160621  0.844627  0.020675  0.726212  0.366624 -0.398828  0.027735 -0.060282

        Amount
100623  549.06
217459   73.80
58719    12.00
24614    32.00
197578   44.00
...        ...
211119  166.13
99995     2.50
223618    1.00
43061    34.12
160621    1.00

[787 rows x 30 columns]

In [116]:
print(y_train)

100623    1
217459    0
58719     0
24614     0
197578    0
         ..
211119    0
99995     0
223618    1
43061     1
160621    0
Name: Class, Length: 787, dtype: int64

Model Evalution

In [117]:
model = LogisticRegression()

In [118]:
model.fit(x_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [119]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [120]:
print("Accuracy of traning data Accuracy: ", training_data_accuracy)

Accuracy of traning data Accuracy:  0.9390088945362135

In [121]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(y_test, x_test_prediction)

In [122]:
print("Accuracy of test data Accuracy: ", test_data_accuracy)

Accuracy of test data Accuracy:  0.9187817258883249

Building a Predicting System

In [123]:
input_data = (165132,-7.50392623748137,-0.360628009949399,-3.83095228272519,2.48610285639632,2.497366775329,1.33243694265115,-6.78396378716369,-15.4153849212396,0.465511605096266,-0.39438126178315,1.05410721205494,0.974058515963307,-1.45366801871907,-1.42561990549746,0.577661575273881,0.836807763068655,2.84494961758243,1.61350955823594,2.54831265500006,-0.475126442823018,-6.38913186553574,2.24996439320029,1.67050826686181,0.140450002467555,0.162147414308657,1.20773090940574,1.26895846837763,0.097538236000963,12.31)

# input_data as numpy array
input_data_as_numpy = np.asarray(input_data)

# reshape the nupy array as we are predicting 
input_data_reshaped = input_data_as_numpy.reshape(1, -1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if prediction[0]==0:
  print("This is not fraudulent Transaction")
else:
  print("This is fraudulent Transaction")

[1]
This is fraudulent Transaction

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(