# Project 11. Credit Card Fraud Detection using Machine Learning in Python

Surendra Prajapat

In [58]:
# Import required librery
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [59]:
# DataSet Link : https://bit.ly/3J7G3of
credit_card_data = pd.read_csv("/content/creditcard.csv")

In [60]:
# first five row
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [61]:
# last five row
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [62]:
credit_card_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [63]:
# null value present or not in dataset
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [64]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [65]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [66]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [67]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [68]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [69]:
# compare the values for both transcation
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under Sampling

Build a sample dataset containing similar distribution of normal transaction and Fraudulent Transaction

Number of Fraudulent Transactions == 492

In [70]:
legit_sample = legit.sample(n=492)

Concat two dataset

In [71]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [72]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
62845,50455.0,-1.327792,-0.653327,1.476434,1.589608,1.198307,-0.325937,-0.207450,0.348668,-0.463293,...,0.194762,0.248729,0.226030,0.008910,-0.133868,-0.257190,0.109880,0.160410,69.98,0
78758,57686.0,-0.488468,1.378414,1.711813,2.124544,-0.597746,-0.575881,0.120405,0.387086,-1.257890,...,0.308975,0.756516,0.064421,0.930241,-0.392950,-0.074498,-0.053893,-0.002227,15.17,0
223782,143519.0,2.290648,-1.233500,-0.860440,-1.458225,-1.285724,-1.081995,-0.895574,-0.382090,-1.408931,...,-0.151995,0.139097,0.212791,0.061043,-0.132640,-0.167789,0.015460,-0.047900,20.00,0
261694,160142.0,2.125691,-0.015740,-1.523355,0.119038,0.561618,-0.343070,0.171243,-0.240868,0.446703,...,-0.334121,-0.822005,0.272692,0.054804,-0.149772,0.205226,-0.070970,-0.058565,1.98,0
278748,168402.0,-1.070533,1.791658,-1.369373,-0.558080,0.309450,-0.900018,0.226270,0.765973,-0.052564,...,-0.314256,-0.862608,0.179261,0.506013,-0.277090,0.131348,0.208887,0.055672,8.99,0

In [73]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [74]:
new_dataset.shape

(984, 31)

In [75]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94223.284553,-0.061132,-0.017855,-0.023186,0.020020,-0.016403,-0.025245,0.052374,0.098806,0.068553,...,-0.008379,-0.032771,-0.030499,-0.066900,-0.023795,-0.017650,-0.011341,-0.015305,-0.021154,99.075854
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Spliting data into features & Targets

In [76]:
x = new_dataset.drop(columns = 'Class', axis = 1)
y = new_dataset['Class']

In [77]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
62845    50455.0 -1.327792 -0.653327  1.476434  1.589608  1.198307 -0.325937
78758    57686.0 -0.488468  1.378414  1.711813  2.124544 -0.597746 -0.575881
223782  143519.0  2.290648 -1.233500 -0.860440 -1.458225 -1.285724 -1.081995
261694  160142.0  2.125691 -0.015740 -1.523355  0.119038  0.561618 -0.343070
278748  168402.0 -1.070533  1.791658 -1.369373 -0.558080  0.309450 -0.900018
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
62845  -0.207450  0.348668 -0.463293  ...  0.411493  0.194762  0.248729
78758   0.120405  0.387086 -1.257890  ... -0.157884  0.308975  0.756516
223782 -0.895574 -0.382090 -1.408931  ... -0.365032 -0.151995  0.139097
261694  0.171243 -0.240868  0.446703  ... -0.112561 -0.334121 -0.822005
278748  0.226270  0.765973 -0.052564  ...  0.064216 -0.314256 -0.862608
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
62845   0.226030  0.008910 -0.133868 -0.257190  0.109880  0.160410   69.98
78758   0.064421  0.930241 -0.392950 -0.074498 -0.053893 -0.002227   15.17
223782  0.212791  0.061043 -0.132640 -0.167789  0.015460 -0.047900   20.00
261694  0.272692  0.054804 -0.149772  0.205226 -0.070970 -0.058565    1.98
278748  0.179261  0.506013 -0.277090  0.131348  0.208887  0.055672    8.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [78]:
print(y)

62845     0
78758     0
223782    0
261694    0
278748    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [79]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [80]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

In [81]:
print(x_train)

            Time         V1        V2         V3        V4         V5  \
100623   67571.0  -0.758469 -0.045410  -0.168438 -1.313275  -1.901763
232633  147244.0  -0.389194  0.165447   0.965843  0.777853  -0.050644
116759   74417.0   1.118732  0.092730   0.064429  1.102712   0.350964
282129  170678.0   1.782639  0.100021  -0.972606  3.662713   0.641413
81304    58876.0   1.333516  0.232075  -1.708534 -0.070691   2.556841
...          ...        ...       ...        ...       ...        ...
2509      2085.0  -1.864408 -0.582157   0.641907 -1.582686  -0.576913
257017  157963.0   2.060615 -0.156284  -1.091427  0.432824  -0.279384
223618  143456.0  -2.006582  3.676577  -5.463811  7.232058  -1.627859
43061    41353.0 -15.020981  8.075240 -16.298091  5.664820 -11.918153
226760  144792.0  -1.421449  2.263486  -0.634379  1.124125   0.631783

              V6         V7        V8        V9  ...       V20       V21  \
100623  0.739433   3.071892 -0.483422  0.618203  ... -0.032500  0.042619
232633  1.724599  -0.081392  0.223599  0.241824  ...  0.096410  0.093781
116759  0.641346   0.046811  0.128169 -0.040162  ... -0.035135 -0.075543
282129  0.912305  -0.020449  0.211564 -0.707120  ... -0.184826  0.115057
81304   3.062609  -0.033861  0.647438 -0.400604  ... -0.036845 -0.051409
...          ...        ...       ...       ...  ...       ...       ...
2509   -0.528672   0.499763  0.301996  0.655141  ... -0.170330  0.192669
257017 -1.254042   0.085244 -0.252148  0.763320  ... -0.318815 -0.305572
223618 -0.996755  -4.299833  2.268867 -3.651067  ...  0.474414  0.713907
43061  -4.246957 -14.716668  9.435084 -6.795398  ... -0.995787  2.525115
226760 -0.844869   0.752312  0.673341 -1.208339  ... -0.094539  0.033940

             V22       V23       V24       V25       V26       V27       V28  \
100623  0.397224  0.072229 -0.242276  0.560916 -0.540955  0.150606 -0.117140
232633  0.788264  0.262399 -0.298243 -0.892610 -0.053052  0.216683  0.119675
116759 -0.044680 -0.215332 -0.776218  0.759194 -0.284526  0.034401  0.004681
282129  0.233450 -0.007279  0.161652  0.129577  0.073142 -0.056194 -0.049669
81304  -0.243188 -0.179801  1.009996  1.009941 -0.280494 -0.005883  0.003857
...          ...       ...       ...       ...       ...       ...       ...
2509    0.512980 -0.384116  0.089766 -0.024201 -0.841736  0.161073 -0.212023
257017 -0.817737  0.358952  0.006096 -0.349269  0.200305 -0.080322 -0.063002
223618 -0.063868  0.167947 -0.449864  0.023702  0.536905  0.485864 -0.042393
43061  -0.832074 -0.186117  0.429781  0.697103  0.056031 -1.310888 -0.707403
226760  0.008370 -0.460696  0.960166  1.151838 -0.229073 -0.077386  0.012113

        Amount
100623  549.06
232633   99.89
116759   40.37
282129   74.88
81304     1.00
...        ...
2509    215.65
257017    1.79
223618    1.00
43061    34.12
226760    6.59

[787 rows x 30 columns]

In [82]:
print(y_train)

100623    1
232633    0
116759    0
282129    0
81304     0
         ..
2509      0
257017    0
223618    1
43061     1
226760    0
Name: Class, Length: 787, dtype: int64

Model Evalution

In [83]:
model = LogisticRegression()

In [84]:
model.fit(x_train, y_train)

LogisticRegression()

In [85]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [86]:
print("Accuracy of traning data Accuracy: ", training_data_accuracy)

Accuracy of traning data Accuracy:  0.9390088945362135

In [87]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(y_test, x_test_prediction)

In [88]:
print("Accuracy of test data Accuracy: ", test_data_accuracy)

Accuracy of test data Accuracy:  0.9238578680203046